body{
    background-color: rgb(153, 206, 153);
}

.casilla{
    background-color: rgb(218, 218, 218);
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

#tablero{
    display: grid;
    place-content: center;
    margin-top: 20vh;
}

#config-matriz{
    display: grid;
    margin-top: 10vh;
    place-content: center;
}

span{
    font-size: xx-large;
    font-weight: bold;
}

.jugador{
    background-color: rgb(117, 214, 117);
}